<div class="container">

    <h1>Todos los restaurantes</h1>
    <div id="restaurantsMap"></div>

</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/restaurants-map-app.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxRnLJg31O3CW392wq9udS4-5NKMhp8ws&callback=initMap"></script>